/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --color-headline: #ffc2e6;
  --color-primary: #ff8dcb;
  --color-secondary: #353430;
  --background-image: url("../images/cover-image-light.png");
  --color-headline-shadow: #ff0070;
  --color-description: #353430;
  --bg-color: #FFF1F8;
  --color-auto-primary-rgb: 53, 52, 48;
  --display-rec: none;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--background-image);
}