.page.theme_light {
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-title-color: #353430;
  --accent-text-color: #353430;
  --main-font: "IBM Plex mono", sans-serif;
  --background-image: url(../images/cover-image-light.png);
  --border-color: #353430;
  --button-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --main-font: "IBM Plex mono", sans-serif;
    --background-image: url(../images/cover-image-light.png);
    --border-color: #353430;
    --button-color: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.4);
  }
}

.page.theme_light .header__decorative-element::before {
  display: none;
}

.page.theme_light .header__decorative-element::after {
  display: none;
}