.page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--background-image);
  background-color: var(--bg-color);
}

h2 {
  font-size: inherit;
  font-weight: Bold;
  color: rgb(var(--color-auto-primary-rgb));
}

h3 {
  font-size: inherit;
  font-weight: Bold;
  color: var(--color-secondary);
}

h4 {
  font-size: inherit;
  font-weight: normal;
  color: var(--color-secondary);
}

p {
  font-size: inherit;
  font-weight: normal;
  color: var(--color-description);
}

/* p + p {
  margin-top: 16px;
} */

p:not(:last-child) {
  margin-bottom: 1em;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
}

.decoration-rec {
  display: var(--display-rec);
  position: absolute;
  right: 0;
  top: 0;
}

.decoration-rec::before {
  position: absolute;
  content: "REC";
  text-transform: capitalize;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-size: 18px;
  top: 21px;
  right: 48px;
  display: block;
  color: var(--color-primary);
}

.decoration-rec::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  right: 29px;
  top: 28px;
  display: block;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: 0 0 3px 2px var(--color-primary);
}

.header__theme-menu {
  position: relative;
}

.header__theme-menu-list {
  margin-block-start: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-size: 18px;
  text-transform: lowercase;
  line-height: 130%;
  text-align: center;
  padding: 0;
  inline-size: 70px;
  outline: none;
  color: rgb(var(--color-auto-primary-rgb));
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--color-auto-primary-rgb), 0.40);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid rgb(var(--color-auto-primary-rgb));
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--color-auto-primary-rgb));
}

.header__theme-menu-button:focus {
  outline: none;
}

.slogan {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  text-transform: lowercase;
  line-height: 82.5%;
  color: var(--color-headline);
  text-shadow: 4px 4px 0px var(--color-headline-shadow);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

.header_description {
  justify-self: end;
  align-self: center;
  width: 48%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.header_description p {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.title-decor {
  background-color: var(--color-primary);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border: 1px solid;
  border-left: none;
  border-bottom: none;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-color: rgb(var(--color-auto-primary-rgb));
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border: 1px solid;
  border-right: none;
  border-top: none;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-color: rgb(var(--color-auto-primary-rgb));
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 60px 20px 60px 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
}

.content-consentration {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.content-consentration-methods {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content-consentration-sub-title {
  margin-bottom: 10px;
}

.content-consentration-list {
  display: grid;
  gap: 20px;
}

.grid-list {
  grid-area: 2 / 1 / 4 / 4;
  grid-template-columns: 1fr 1fr 1fr;
}

.pictures-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "one one two"
    "three four two"
    "three five five";
}

.pic-parameters {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: one;
}

.ice-cream {
  grid-area: two;
}

.tape {
  grid-area: three;
}

.books {
  grid-area: four;
}

.street {
  grid-area: five;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  text-align: center;
}

.footer-slogan-settings {
  text-shadow: 2px 2px 0px var(--color-headline-shadow);
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-primary);
}

a:hover {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-description);
}

a:focus-visible {
  outline: 1px solid;
}

a:focus {
  border: none;
}

@media (width < 1024px) {
  .slogan {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    width: 47.5%;
    margin-bottom: 21px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
  }

  .content-consentration {
    column-gap: 20px;
  }

  .lower-resolution-list {
    display: flex;
    flex-direction: column;
  }

}

@media (width < 768px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .decoration-rec::before {
    top: 11px;
    right: 38px;
  }

  .decoration-rec::after {
    right: 19px;
    top: 18px;
  }

  .header__theme-menu-list {
    margin-right: 10px;
    margin-bottom: 15px;
    gap: 11px;
  }

  .header_description {
    width: 94.5%;
    align-self: center;
    justify-self: center;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .slogan {
    margin-right: 8px;
    width: min-content;
    justify-self: center;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  main {
    margin: 40px 10px 40px 10px;
    gap: 50px;
  }

  .content-consentration {
    display: flex;
    flex-direction: column;
  }

  .pictures-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
  
  .footer-slogan-settings {
    margin-right: 0;
    margin-top: 4px;
  }
}