/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-headline: #ffc2e6;
  --color-primary: #ff8dcb;
  --color-auto-primary-rgb: 53, 52, 48;
  --color-secondary: #353430;
  --background-image: url("../images/cover-image-light.png");
  --color-headline-shadow: #ff0070;
  --display-rec: none;
  --bg-color: #FFF1F8;
}